body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body .navbar-right .navbar-form input {
  margin-right: 10px;
}
body .toast-top-right {
  top: 50px;
}
.image-container {
  width: 100%;
  height: 100%;
}
.footerTextBold {
  font-weight: bold;
}
#mario-canvas {
  background-color: #00f;
  display: block;
  width: 603px;
  height: 400px;
}
#lifeDiv {
  display: inline-block;
}
#scoreDiv {
  display: inline-block;
}
#levelDiv {
  display: inline-block;
}
.otherDiv {
  display: inline-block;
}
#buttonDiv {
  background-color: #cd5c5c;
}
