body
  overflow: hidden;
  margin:0;
  padding:0;

.image-container
  width: 100%;
  height: 100%;

.footerTextBold
  font-weight: bold;

#mario-canvas
  background-color: blue;
  display: block;

#lifeDiv
  display: inline-block;

#scoreDiv
  display:inline-block;

#levelDiv
  display:inline-block;

.otherDiv
  display: inline-block;

#buttonDiv
  background-color: indianred;
