body
  margin:0;
  padding:0;

  .navbar-right .navbar-form
    input
      margin-right: 10px;
    a.btn
      margin-left: 10px;

  .toast-top-right
    top:50px;

  .buttonsContact
    margin-left: 10px;

.image-container
  width: 100%;
  height: 100%;

.footerTextBold
  font-weight: bold;

#mario-canvas
  background-color: blue;
  display: block;
  width: 603px;
  height: 400px;

#lifeDiv
  display: inline-block;

#scoreDiv
  display:inline-block;

#levelDiv
  display:inline-block;

.otherDiv
  display: inline-block;

#buttonDiv
  background-color: indianred;

 .Logo
   font-weight: bold;

 .boostedImg
  width: 100%;
  height: 100%;

 .ContactUs
   width: 300px;
   height: 150px;
   max-width: 300px;
   max-height: 150px;
   text-wrap: normal;

  .InputContact
    width: 300px;

  .InputS
    width: 40px;
    height: 40px;

  .loginIn
    width: 155px;
    border-radius: 5px;
    height: 32px;

  #canvas
    width: 400px;
    height: 400px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: #FFF;
    box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);

  .text
    font-weight: bold;