body
  margin:0;
  padding:0;

  .navbar-right .navbar-form
    input
      margin-right: 10px;
    a.btn
      margin-left: 10px;

  .toast-top-right
    top:50px;

  .buttonsContact
    margin-left: 10px;

.image-container
  width: 100%;
  height: 100%;

.footerTextBold
  font-weight: bold;

#mario-canvas
  background-color: blue;
  display: block;
  width: 603px;
  height: 400px;

#lifeDiv
  display: inline-block;

#scoreDiv
  display:inline-block;

#levelDiv
  display:inline-block;

.otherDiv
  display: inline-block;

#buttonDiv
  background-color: indianred;

 .Logo
   font-weight: bold;

 .boostedImg
  width: 100%;
  height: 100%;

 .ContactUs
   width: 300px;
   height: 150px;
   max-width: 300px;
   max-height: 150px;
   text-wrap: normal;

  .InputContact
    width: 300px;

  .InputS
    width: 40px;
    height: 40px;

  .loginIn
    width: 155px;
    border-radius: 5px;
    height: 32px;

  #canvas
    width: 520px;
    height: 330px;
    background-color: transparent;

  .text
    font-weight: bold;

  .coloredCell
    background-color: chartreuse;

  .coloredCell1
    background-color: greenyellow;

  .coloredCell2
    background-color: palegreen;

  .coloredCell3
    background-color: deepskyblue;

  .coloredCell4
    background-color: lightskyblue;

  .coloredCell5
    background-color: powderblue;

  .coloredCell6
    background-color: hotpink;

  .coloredCell7
    background-color: lightcoral;

  .coloredCell8
    background-color: pink;

  input
    font-weight: bold;

  iframe
    border-color: transparent;
    background-color: transparent;

  #canvas1
    width: 600px;
    height: 500px;