extends includes/layout
block main-content
    div.navbar.navbar-default
        div.navbar-header
            div.navbar-brand.navbar-inverse Telerik Project
        div.navbar-collapse.collapse#navbar-main
            ul.nav.navbar-nav
                li
                    a(href="/").navbar-brand Home
            div(ng-include="'partials/login'")

    div.jumbotron(ng-view)
    footer.text-center.label-primary.footerTextBold
        | &copy; TelerikAcademy Project Application