extends includes/layout
block main-content
    header.nav.navbar-inverse
        .container
            .navbar-header
                a.Logo.navbar-brand(href="#/") Lets Practise
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                    li.dropdown
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            | Games
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="#/havefun") Play Mouse
                                a(href="#/sudoku") Play Sudoku
                                a(href="#/drawsomething") Draw Something


                    li
                        a(href="#/contact") Contact


                div(ng-include="'partials/account/login'")
    section
        div(ng-view)
    footer
        p.text-center.text
            | &copy; Lets Practise Development 2013-2014