.container
    table.table
        tr(ng-repeat="user in users")
            td {{ user.username }}
            td {{ user.firstName }}
            td {{ user.lastName }}
            td {{ user.roles }}