doctype
html
    head
        title Lets Practise the development of logic
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu0nhQw6Mo8JJiufJ4WJ2cbEvLbcGfmQiwmoBwsv3UL1ks0qTpiLf-9bY")
    body(ng-app="app")
        block main-content
        include scripts
        include currentUser