div Score = 60 + 3 * Bonus(+1 for each cheese collected)
div If you loose life your bonus is calculated to 0
div Use the left and right arrow to move the mouse
div When you level up the speed of falling cheese is increased
div
img.boostedImg(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRRMKABgUc_MFgbu1d5Rbh-DJwyzx3a7Jnx94Q7egzgYzEa4uGBde5PFZE")