.container
    .jumbotron
        h1 Lets Practise
        .well
            .row
                .col-md-6
                    .panel.panel-info
                        .panel-heading.text-center Lets Practise
                        .panel-body
                            h3 Test your logic, work out your brain. See if you can solve the Sudoku puzzle or you can draw anything you want on the drawing board.You can test your pation and speed playing the Mouse game. We hope you will have fun and help us to grow.
                        .panel-body

                .col-md-6
                    .panel.panel-info
                        .panel-heading.text-center Additional Info
                        .panel-body
                            h3 Lets Practise website is created for fun. We hope if you have any ideas to contact with us and if we accept your idea we will improve the website..