.container
    .jumbotron
        .well
            .row
                .col-md-6
                    div(ng-controller="SudokuCtrl")
                        table.table-bordered
                            tr
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                            tr
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                            tr
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                            tr
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                            tr
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                            tr
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                            tr
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                            tr
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                            tr
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                                td
                                    input.InputS.form-control(type="text")
                .col-md-6
                    div.panel.panel-warning
                        div.panel-heading
                            h3.panel-title Additional info
                        div.panel-body The same single integer may not appear twice in the same 9×9 playing board row or column or in any of the nine 3×3 subregions of the 9×9 playing board.
                    button.buttonsContact.btn.btn-primary(ng-click="solve()") Solve
                    a.buttonsContact.btn.btn-primary(href="#/") Cancel