.container
    .jumbotron
        .well
            .row
                .col-md-7
                    div(ng-controller="Sudoku")
                        table.table-bordered.text-center#table
                            tr
                                td
                                    input#sudoku01.text-center.InputS.form-control(type="text", value="")
                                td
                                    input#sudoku02.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku03.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku04.text-center.InputS.form-control(type="text", value="8")
                                td
                                    input#sudoku05.text-center.InputS.form-control(type="text", value="3")
                                td
                                    input#sudoku06.text-center.InputS.form-control(type="text",value="")
                                td
                                    input#sudoku07.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku08.text-center.InputS.form-control(type="text", value="5")
                                td
                                    input#sudoku09.text-center.InputS.form-control(type="text")
                            tr
                                td
                                    input#sudoku10.text-center.InputS.form-control(type="text", value="")
                                td
                                    input#sudoku11.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku12.text-center.InputS.form-control(type="text",value="")
                                td
                                    input#sudoku13.text-center.InputS.form-control(type="text", value="6")
                                td
                                    input#sudoku14.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku15.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku16.text-center.InputS.form-control(type="text", value="7")
                                td
                                    input#sudoku17.text-center.InputS.form-control(type="text", value="2")
                                td
                                    input#sudoku18.text-center.InputS.form-control(type="text")
                            tr
                                td
                                    input#sudoku19.text-center.InputS.form-control(type="text", value="")
                                td
                                    input#sudoku20.text-center.InputS.form-control(type="text", value="9")
                                td
                                    input#sudoku21.text-center.InputS.form-control(type="text", value="5")
                                td
                                    input#sudoku22.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku23.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku24.text-center.InputS.form-control(type="text", value="2")
                                td
                                    input#sudoku25.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku26.text-center.InputS.form-control(type="text", value="")
                                td
                                    input#sudoku27.text-center.InputS.form-control(type="text")
                            tr
                                td
                                    input#sudoku28.text-center.InputS.form-control(type="text", value="7")
                                td
                                    input#sudoku29.text-center.InputS.form-control(type="text", value="4")
                                td
                                    input#sudoku30.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku31.text-center.InputS.form-control(type="text", value="5")
                                td
                                    input#sudoku32.text-center.InputS.form-control(type="text", value="6")
                                td
                                    input#sudoku33.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku34.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku35.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku36.text-center.InputS.form-control(type="text", value="9")
                            tr
                                td
                                    input#sudoku37.text-center.InputS.form-control(type="text", value="")
                                td
                                    input#sudoku38.text-center.InputS.form-control(type="text", value="2")
                                td
                                    input#sudoku39.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku40.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku41.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku42.text-center.InputS.form-control(type="text", value="7")
                                td
                                    input#sudoku43.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku44.text-center.InputS.form-control(type="text", value="3")
                                td
                                    input#sudoku45.text-center.InputS.form-control(type="text", value="8")
                            tr
                                td
                                    input#sudoku46.text-center.InputS.form-control(type="text", value="3")
                                td
                                    input#sudoku47.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku48.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku49.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku50.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku51.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku52.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku53.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku54.text-center.InputS.form-control(type="text")
                            tr
                                td
                                    input#sudoku55.text-center.InputS.form-control(type="text", value="")
                                td
                                    input#sudoku56.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku57.text-center.InputS.form-control(type="text", value="1")
                                td
                                    input#sudoku58.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku59.text-center.InputS.form-control(type="text", value="9")
                                td
                                    input#sudoku60.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku61.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku62.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku63.text-center.InputS.form-control(type="text")
                            tr
                                td
                                    input#sudoku64.text-center.InputS.form-control(type="text", value="")
                                td
                                    input#sudoku65.text-center.InputS.form-control(type="text", value="7")
                                td
                                    input#sudoku66.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku67.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku68.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku69.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku70.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku71.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku72.text-center.InputS.form-control(type="text", value="3")
                            tr
                                td
                                    input#sudoku73.text-center.InputS.form-control(type="text", value="")
                                td
                                    input#sudoku74.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku75.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku76.text-center.InputS.form-control(type="text", value="")
                                td
                                    input#sudoku77.text-center.InputS.form-control(type="text", value="4")
                                td
                                    input#sudoku78.text-center.InputS.form-control(type="text", value="1")
                                td
                                    input#sudoku79.text-center.InputS.form-control(type="text")
                                td
                                    input#sudoku80.text-center.InputS.form-control(type="text", value="6")
                                td
                                    input#sudoku81.text-center.InputS.form-control(type="text", value="5")
                .col-md-5
                    div.panel.panel-warning
                        div.panel-heading
                            h3.panel-title Additional info
                        div.panel-body The same single integer may not appear twice in the same 9×9 playing board row or column or in any of the nine 3×3 subregions of the 9×9 playing board.
                    button.buttonsContact.btn.btn-primary(ng-click="solve()") Solve
                    a.buttonsContact.btn.btn-primary(href="#/") Cancel